n8n/2026/02/n8n_-_Backup_Wrokflows_and_Credentials.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Credentials backup folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Workflows backup folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Credentials": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Credentials": {
      "main": [
        [],
        [
          {
            "node": "Extract Credential from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credential from File": {
      "main": [
        [
          {
            "node": "Credential Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credential Filename": {
      "main": [
        [
          {
            "node": "Upload credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload credential": {
      "main": [
        [
          {
            "node": "Wait Credential load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Credential load": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credentials backup folder": {
      "main": [
        [
          {
            "node": "Credentials Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Filename": {
      "main": [
        [
          {
            "node": "JSON workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON workflow": {
      "main": [
        [
          {
            "node": "Convert Workflow JSON to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Workflow Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter non Archived Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflows backup folder": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Workflow JSON to File": {
      "main": [
        [
          {
            "node": "Upload workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Filter non Archived Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-03T18:35:56.166Z",
  "id": "Q-TDxsUfHgM4AhpOY4Jog",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n - Backup Wrokflows and Credentials",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        336,
        432
      ],
      "id": "255c6694-ecf8-4f87-9d5d-fefc95a59e7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        992,
        384
      ],
      "id": "1b01e219-b20e-430d-97fd-e2b1865d5765",
      "name": "Export Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45500e7e-ae5a-4170-8e31-fef2b17d4fac",
              "name": "path",
              "value": "./.n8n-files/project/credentials/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        576
      ],
      "id": "a16ad955-cd8e-4c8e-802c-b05caa26958a",
      "name": "Credentials Path"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Credentials Path').item.json.path }}*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1232,
        576
      ],
      "id": "b9b4b37d-129a-4430-a5a4-fbd20a1989f2",
      "name": "Read Credentials"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Read Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        576
      ],
      "id": "ed3221a7-11d4-4496-8914-994a94fd0ecb",
      "name": "Loop Credentials"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1680,
        496
      ],
      "id": "d5d895e1-83ad-4cce-b658-a03aaf746da2",
      "name": "Extract Credential from File"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Loop Credentials').item.binary.data }}",
        "name": "={{ $('Credential Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Credentials backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        496
      ],
      "id": "210ffd43-5472-4c89-a6f7-0a5a73044815",
      "name": "Upload credential",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k5ow0cbdhq0X3YzE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Extract Credential from File').item.json.data.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        496
      ],
      "id": "1b323794-ea6d-48fc-959c-c28a99b5b6e1",
      "name": "Credential Filename"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        576
      ],
      "id": "39c6d57c-830c-4f15-87e4-f1f84386a542",
      "name": "Wait Credential load",
      "webhookId": "45c54c5f-b661-47ad-aa11-0c59732bd3a8"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-credentials-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG",
          "mode": "list",
          "cachedResultName": "Credentials_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        576
      ],
      "id": "00c6c9d7-cbe1-49f0-980b-13236826b035",
      "name": "Create Credentials backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k5ow0cbdhq0X3YzE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Loop Over Workflows').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        96
      ],
      "id": "52f93445-026b-4fb2-b749-f69c6944d35d",
      "name": "JSON workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Loop Over Workflows').item.json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        96
      ],
      "id": "3fd9fa27-4086-43f1-a155-0710f6fc6f63",
      "name": "Workflow Filename"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $('Workflow Filename').item.json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1904,
        96
      ],
      "id": "0b5dc780-ea36-4ed7-94b2-be35bf0d2420",
      "name": "Convert Workflow JSON to File"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Filter non Archived Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1232,
        160
      ],
      "id": "94244b82-00a1-457d-aeb6-055b35e721c4",
      "name": "Loop Over Workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3952562-8cf1-4cb2-a46c-2251f4b26f82",
              "leftValue": "={{ $('Get Workflows').item.json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1008,
        160
      ],
      "id": "6bd11089-a20d-4aba-825a-16782a4f0e67",
      "name": "Filter non Archived Workflows"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-workflows-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M",
          "mode": "list",
          "cachedResultName": "Workflows_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        160
      ],
      "id": "0cbad92f-ce16-462d-9ebe-37d8c297c048",
      "name": "Create Workflows backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k5ow0cbdhq0X3YzE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        160
      ],
      "id": "a5f27162-4daa-4142-8ada-36d00cebbe48",
      "name": "Wait",
      "webhookId": "6e8463d1-9154-43ad-8c00-9e8f19dd3799"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        784,
        160
      ],
      "id": "fedf1a1c-e955-4f6f-a50f-b86376845cca",
      "name": "Get Workflows",
      "credentials": {
        "n8nApi": {
          "id": "zg5AoTyWH6eHCN1N",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Workflow Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Workflows backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        96
      ],
      "id": "9d7908bb-a2c5-4508-9383-cd6ba151dd71",
      "name": "Upload workflow",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "k5ow0cbdhq0X3YzE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup Workflows",
        "height": 368,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        16
      ],
      "typeVersion": 1,
      "id": "d50916df-c488-4ce8-995f-83370ffbfdc8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Backup Credentials",
        "height": 368,
        "width": 2000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        432
      ],
      "typeVersion": 1,
      "id": "9e615a8e-9155-4aea-a1b4-b2bba5a9fc66",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración\n\n1. **Actualiza** las credenciales de los nodos de **Drive**\n2. Crea el backup folder para workflow y credentials en **Google Drive**\n3. Genera tu **n8n API key**\n4. **Actualiza** las credenciales de los nodos de **n8n**\n\n---\n### Importante\n1. Para exportar las credenciales en la version 2.0.x, debes configurar esta variable de entorno **NODES_EXCLUDE=\"[]\"**, para que puedas habilitar el nodo **\"Execute command\"**\n\n\n---\n\n📺 Puedes guiarte con este video:  \n👉 [Cómo configurar paso a paso](https://youtu.be/PMp11vf3n8c)  \n\n🔔 Además, tienes más **video-guías completas** en mi canal de YouTube:  \n👉 [Hans Acha – Canal Oficial](https://www.youtube.com/@Hans-Acha)\n",
        "height": 528,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        16
      ],
      "typeVersion": 1,
      "id": "dcc84a0b-658d-449d-a90f-ffb0a4916622",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-03T18:35:56.167Z",
      "createdAt": "2026-02-03T18:35:56.167Z",
      "role": "workflow:owner",
      "workflowId": "Q-TDxsUfHgM4AhpOY4Jog",
      "projectId": "qybvWgNPA3kFWQla"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-03T18:38:07.721Z",
  "versionId": "7fe3111c-7607-4c4a-95e0-0d571e81e186"
}