n8n/2026/02/RecepcionCreacionPersonal.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-18T14:56:23.263Z",
    "createdAt": "2025-11-18T14:56:23.263Z",
    "versionId": "6f724daa-a86a-4927-ac21-1e95ee6d9b13",
    "workflowId": "m4fzipgSG9RM36UJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "recepcion",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          -48
        ],
        "id": "d92f696a-4168-45b2-b249-47b59515621c",
        "name": "Webhook",
        "webhookId": "7bb397a8-f8ae-47de-9c07-2ab3c6459789"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2d6a53ae-ee7e-4a3c-a7b4-7cdb3d34c222",
                "name": "nombre",
                "value": "={{ $json.body.firstName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          544,
          -144
        ],
        "id": "b92c39cf-61fd-4cbc-9a56-eadae0d4d1f4",
        "name": "Nombre - variable"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "14fc6f09-cb8f-4eee-9bf5-f36646f375c9",
                "name": "apellidos",
                "value": "={{ $json.body.lastName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          736,
          -144
        ],
        "id": "7338de8c-5b0e-4105-a905-5f4440f27e35",
        "name": "apellidos - variable"
      },
      {
        "parameters": {
          "content": "## Variables\nAquí se convierten las variables para el manejo en el flujo\n ",
          "height": 496,
          "width": 1376
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          496,
          -240
        ],
        "id": "f30bd2a9-b8fe-43cc-8f90-16af03ce305a",
        "name": "Variables"
      },
      {
        "parameters": {
          "content": "## Se Recibe los datos\n",
          "height": 224,
          "width": 272,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -112
        ],
        "id": "f11d32ed-491f-4601-8466-6e5ba71b4121",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "body.signature",
          "binaryPropertyName": "=firma",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          576,
          64
        ],
        "id": "16ab4e97-4611-4e26-9034-5f51508880f6",
        "name": "FirmaPng - variable"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "60976a7b-afa1-40d9-865e-ed647eae460a",
                "name": "nombrefirma",
                "value": "={{ $json.body.filename }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          912,
          -144
        ],
        "id": "3a4bc4f6-8206-4284-b6a0-42531ab787cb",
        "name": "nombrefirma - variable"
      },
      {
        "parameters": {
          "content": "## Carpeta Nueva\nCreación carpeta con nombre y apellido del ingresado\n",
          "height": 240,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1328,
          -224
        ],
        "id": "e2af2a40-ee0a-437e-9ccb-f21176b7f51c",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "command": "=md \"C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $json.NombreCarpeta }}\""
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1392,
          -128
        ],
        "id": "98cc02c3-c92a-4d55-8730-0c0c9cf2f226",
        "name": "Comando CMD"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae37294b-f75b-47aa-81f8-2aa191c771c0",
                "name": "NombreCarpeta",
                "value": "={{ $('Webhook').item.json.body.filename.replace(/\\.png$/, '') }}",
                "type": "string"
              },
              {
                "id": "4ef90591-2bc9-47c8-ab90-30aa0efcbeed",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1152,
          -128
        ],
        "id": "0529e593-0598-4617-9d3d-c309c8d82140",
        "name": "NombreCarpeta - variable"
      },
      {
        "parameters": {
          "content": "## Nombre Carpeta\nSe Obtiene el nombre y apellico concatenado con l fecha de creación",
          "height": 240,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          -224
        ],
        "id": "e113a935-3fed-415a-a2f7-c3125df6a27e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c4b8f280-95bb-4a42-a08f-78546c3a6de4",
                "name": "ruta",
                "value": "=C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $('NombreCarpeta - variable').item.json.NombreCarpeta+\"\\\\\"}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1664,
          -128
        ],
        "id": "f0dd6cc2-2304-44e1-9810-9eb3584c01a2",
        "name": "Ruta - Variable"
      },
      {
        "parameters": {
          "content": "## Ruta\nRuta de la Carpeta Creada",
          "height": 240,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1600,
          -224
        ],
        "id": "5f80165b-d986-40c9-be6b-d4ee6b99eefd",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "={{ $json.ruta }}",
          "dataPropertyName": "firma",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1280,
          64
        ],
        "id": "1979527d-6d76-4e2a-a348-fc83f1ea37b3",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          752,
          64
        ],
        "id": "92a94b75-1cd7-414d-ae8a-fac58c7770dd",
        "name": "Wait",
        "webhookId": "a5f2cb3a-6dac-4ce0-998c-583aece521e7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae37294b-f75b-47aa-81f8-2aa191c771c0",
                "name": "NombreCarpeta",
                "value": "={{ $('Webhook').item.json.body.filename.replace(/\\.png$/, '') }}",
                "type": "string"
              },
              {
                "id": "4ef90591-2bc9-47c8-ab90-30aa0efcbeed",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          64
        ],
        "id": "0587d237-9fa3-4694-8b6a-62c622281d82",
        "name": "NombreCarpeta - variable1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c4b8f280-95bb-4a42-a08f-78546c3a6de4",
                "name": "ruta",
                "value": "=C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $('NombreCarpeta - variable1').item.json.NombreCarpeta+\"\\\\\"}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          64
        ],
        "id": "d4c6a0dc-578a-4980-a4ca-7f6a4419f08d",
        "name": "Ruta - Variable1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.3,
        "position": [
          1872,
          -128
        ],
        "id": "a4779a8e-e108-4c37-a4b6-4ed71706c03e",
        "name": "Form",
        "webhookId": "d140b30f-8708-41ca-b52b-5418a0bebb0c"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Nombre - variable",
              "type": "main",
              "index": 0
            },
            {
              "node": "FirmaPng - variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "apellidos - variable": {
        "main": [
          [
            {
              "node": "nombrefirma - variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nombrefirma - variable": {
        "main": [
          [
            {
              "node": "NombreCarpeta - variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FirmaPng - variable": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nombre - variable": {
        "main": [
          [
            {
              "node": "apellidos - variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NombreCarpeta - variable": {
        "main": [
          [
            {
              "node": "Comando CMD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Comando CMD": {
        "main": [
          [
            {
              "node": "Ruta - Variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ruta - Variable": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "NombreCarpeta - variable1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NombreCarpeta - variable1": {
        "main": [
          [
            {
              "node": "Ruta - Variable1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ruta - Variable1": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "6f724daa-a86a-4927-ac21-1e95ee6d9b13",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Nombre - variable",
            "type": "main",
            "index": 0
          },
          {
            "node": "FirmaPng - variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apellidos - variable": {
      "main": [
        [
          {
            "node": "nombrefirma - variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nombrefirma - variable": {
      "main": [
        [
          {
            "node": "NombreCarpeta - variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FirmaPng - variable": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nombre - variable": {
      "main": [
        [
          {
            "node": "apellidos - variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NombreCarpeta - variable": {
      "main": [
        [
          {
            "node": "Comando CMD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comando CMD": {
      "main": [
        [
          {
            "node": "Ruta - Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta - Variable": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "NombreCarpeta - variable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NombreCarpeta - variable1": {
      "main": [
        [
          {
            "node": "Ruta - Variable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta - Variable1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-27T21:19:02.682Z",
  "id": "m4fzipgSG9RM36UJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RecepcionCreacionPersonal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recepcion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        -48
      ],
      "id": "d92f696a-4168-45b2-b249-47b59515621c",
      "name": "Webhook",
      "webhookId": "7bb397a8-f8ae-47de-9c07-2ab3c6459789"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d6a53ae-ee7e-4a3c-a7b4-7cdb3d34c222",
              "name": "nombre",
              "value": "={{ $json.body.firstName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -144
      ],
      "id": "b92c39cf-61fd-4cbc-9a56-eadae0d4d1f4",
      "name": "Nombre - variable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14fc6f09-cb8f-4eee-9bf5-f36646f375c9",
              "name": "apellidos",
              "value": "={{ $json.body.lastName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -144
      ],
      "id": "7338de8c-5b0e-4105-a905-5f4440f27e35",
      "name": "apellidos - variable"
    },
    {
      "parameters": {
        "content": "## Variables\nAquí se convierten las variables para el manejo en el flujo\n ",
        "height": 496,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -240
      ],
      "id": "f30bd2a9-b8fe-43cc-8f90-16af03ce305a",
      "name": "Variables"
    },
    {
      "parameters": {
        "content": "## Se Recibe los datos\n",
        "height": 224,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -112
      ],
      "id": "f11d32ed-491f-4601-8466-6e5ba71b4121",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.signature",
        "binaryPropertyName": "=firma",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        64
      ],
      "id": "16ab4e97-4611-4e26-9034-5f51508880f6",
      "name": "FirmaPng - variable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60976a7b-afa1-40d9-865e-ed647eae460a",
              "name": "nombrefirma",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -144
      ],
      "id": "3a4bc4f6-8206-4284-b6a0-42531ab787cb",
      "name": "nombrefirma - variable"
    },
    {
      "parameters": {
        "content": "## Carpeta Nueva\nCreación carpeta con nombre y apellido del ingresado\n",
        "height": 240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        -224
      ],
      "id": "e2af2a40-ee0a-437e-9ccb-f21176b7f51c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "command": "=md \"C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $json.NombreCarpeta }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1392,
        -128
      ],
      "id": "98cc02c3-c92a-4d55-8730-0c0c9cf2f226",
      "name": "Comando CMD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae37294b-f75b-47aa-81f8-2aa191c771c0",
              "name": "NombreCarpeta",
              "value": "={{ $('Webhook').item.json.body.filename.replace(/\\.png$/, '') }}",
              "type": "string"
            },
            {
              "id": "4ef90591-2bc9-47c8-ab90-30aa0efcbeed",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -128
      ],
      "id": "0529e593-0598-4617-9d3d-c309c8d82140",
      "name": "NombreCarpeta - variable"
    },
    {
      "parameters": {
        "content": "## Nombre Carpeta\nSe Obtiene el nombre y apellico concatenado con l fecha de creación",
        "height": 240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -224
      ],
      "id": "e113a935-3fed-415a-a2f7-c3125df6a27e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4b8f280-95bb-4a42-a08f-78546c3a6de4",
              "name": "ruta",
              "value": "=C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $('NombreCarpeta - variable').item.json.NombreCarpeta+\"\\\\\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -128
      ],
      "id": "f0dd6cc2-2304-44e1-9810-9eb3584c01a2",
      "name": "Ruta - Variable"
    },
    {
      "parameters": {
        "content": "## Ruta\nRuta de la Carpeta Creada",
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        -224
      ],
      "id": "5f80165b-d986-40c9-be6b-d4ee6b99eefd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.ruta }}",
        "dataPropertyName": "firma",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        64
      ],
      "id": "1979527d-6d76-4e2a-a348-fc83f1ea37b3",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        64
      ],
      "id": "92a94b75-1cd7-414d-ae8a-fac58c7770dd",
      "name": "Wait",
      "webhookId": "a5f2cb3a-6dac-4ce0-998c-583aece521e7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae37294b-f75b-47aa-81f8-2aa191c771c0",
              "name": "NombreCarpeta",
              "value": "={{ $('Webhook').item.json.body.filename.replace(/\\.png$/, '') }}",
              "type": "string"
            },
            {
              "id": "4ef90591-2bc9-47c8-ab90-30aa0efcbeed",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        64
      ],
      "id": "0587d237-9fa3-4694-8b6a-62c622281d82",
      "name": "NombreCarpeta - variable1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4b8f280-95bb-4a42-a08f-78546c3a6de4",
              "name": "ruta",
              "value": "=C:\\\\Pruebasn8n\\\\Recepcion\\\\{{ $('NombreCarpeta - variable1').item.json.NombreCarpeta+\"\\\\\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        64
      ],
      "id": "d4c6a0dc-578a-4980-a4ca-7f6a4419f08d",
      "name": "Ruta - Variable1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1872,
        -128
      ],
      "id": "a4779a8e-e108-4c37-a4b6-4ed71706c03e",
      "name": "Form",
      "webhookId": "d140b30f-8708-41ca-b52b-5418a0bebb0c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-27T21:19:02.687Z",
      "createdAt": "2025-10-27T21:19:02.687Z",
      "role": "workflow:owner",
      "workflowId": "m4fzipgSG9RM36UJ",
      "projectId": "qybvWgNPA3kFWQla"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T19:05:29.000Z",
  "versionId": "6f724daa-a86a-4927-ac21-1e95ee6d9b13"
}