n8n/2026/02/YT_-_n8n_-_Backup_Wrokflows_and_Credentials.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Workflows backup folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Credentials backup folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Credentials": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Credentials": {
      "main": [
        [],
        [
          {
            "node": "Extract Credential from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credential from File": {
      "main": [
        [
          {
            "node": "Credential Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credential Filename": {
      "main": [
        [
          {
            "node": "Upload credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload credential": {
      "main": [
        [
          {
            "node": "Wait Credential load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Credential load": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credentials backup folder": {
      "main": [
        [
          {
            "node": "Credentials Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Filename": {
      "main": [
        [
          {
            "node": "JSON workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON workflow": {
      "main": [
        [
          {
            "node": "Convert Workflow JSON to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Workflow Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter non Archived Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflows backup folder": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Workflow JSON to File": {
      "main": [
        [
          {
            "node": "Upload workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Filter non Archived Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-03T18:57:20.361Z",
  "id": "ks3SJM41jwQAukh_xMfFK",
  "isArchived": false,
  "meta": null,
  "name": "YT - n8n - Backup Wrokflows and Credentials",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "55b7e029-686d-4aff-8adf-9111a836b734",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        832,
        384
      ],
      "id": "e21e8cdd-12e3-491f-939a-8aa1d5971326",
      "name": "Export Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45500e7e-ae5a-4170-8e31-fef2b17d4fac",
              "name": "path",
              "value": "./.n8n-files/project/credentials/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        384
      ],
      "id": "e8983d01-7f85-4afb-9838-fcc2c614c767",
      "name": "Credentials Path"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Credentials Path').item.json.path }}*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1056,
        384
      ],
      "id": "883400ca-4a04-49a4-8839-123e1c33c9c2",
      "name": "Read Credentials"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Read Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        384
      ],
      "id": "9cf28226-b08d-42f1-8514-e441ed7ee88d",
      "name": "Loop Credentials"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        304
      ],
      "id": "28386c42-46e4-423d-9aaf-cceb9d3fbec0",
      "name": "Extract Credential from File"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Loop Credentials').item.binary.data }}",
        "name": "={{ $('Credential Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Credentials backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1952,
        304
      ],
      "id": "4fc0eb39-de5f-4022-af95-f8138e7cd5b6",
      "name": "Upload credential",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qnJpneFFqAgPPlbL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Extract Credential from File').item.json.data.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        304
      ],
      "id": "bff676b6-b2b5-4be4-8669-0d14d9ddd566",
      "name": "Credential Filename"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        384
      ],
      "id": "1a82b241-8def-4bdb-8c3e-ff28ad05dc43",
      "name": "Wait Credential load",
      "webhookId": "45c54c5f-b661-47ad-aa11-0c59732bd3a8"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-credentials-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG",
          "mode": "list",
          "cachedResultName": "Credentials_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        384
      ],
      "id": "920025a1-7b95-4eae-aa6b-258bfd1f3a88",
      "name": "Create Credentials backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qnJpneFFqAgPPlbL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Loop Over Workflows').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -96
      ],
      "id": "b98cc2a9-4f25-4d0c-a6e7-110b180bed78",
      "name": "JSON workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Loop Over Workflows').item.json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -96
      ],
      "id": "bef80226-551c-4d72-8c42-c8a2c2242947",
      "name": "Workflow Filename"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $('Workflow Filename').item.json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1728,
        -96
      ],
      "id": "458befea-3597-4415-aae3-6e249e7cdf2c",
      "name": "Convert Workflow JSON to File"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Filter non Archived Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        -32
      ],
      "id": "5c50ff67-28fe-4b61-8dc7-fe274b9e56bf",
      "name": "Loop Over Workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3952562-8cf1-4cb2-a46c-2251f4b26f82",
              "leftValue": "={{ $('Get Workflows').item.json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        -32
      ],
      "id": "147d3ebb-c6b6-4c7d-bc44-488e68d0c3d6",
      "name": "Filter non Archived Workflows"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-workflows-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M",
          "mode": "list",
          "cachedResultName": "Workflows_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        -32
      ],
      "id": "97273790-63ee-4f04-9326-d3501667916d",
      "name": "Create Workflows backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9wvEH2wsVsLMnsKj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        -32
      ],
      "id": "300b3e6e-79a4-4716-9a78-7ed0217ad3dd",
      "name": "Wait",
      "webhookId": "6e8463d1-9154-43ad-8c00-9e8f19dd3799"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        608,
        -32
      ],
      "id": "91cdba81-51ef-43ed-845f-13b7cbf6eb16",
      "name": "Get Workflows"
    },
    {
      "parameters": {
        "name": "={{ $('Workflow Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Workflows backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1952,
        -96
      ],
      "id": "3196fa03-4264-4a3f-8ce3-607f1dc45088",
      "name": "Upload workflow",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qnJpneFFqAgPPlbL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup Workflows",
        "height": 368,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -176
      ],
      "typeVersion": 1,
      "id": "3cb79a80-08f8-4f67-ab60-605138c6d9a6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Backup Credentials",
        "height": 368,
        "width": 2000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        240
      ],
      "typeVersion": 1,
      "id": "9e956af8-dab4-4671-a29b-25eca19eaeca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración\n\n1. **Actualiza** las credenciales de los nodos de **Drive**\n2. Crea el backup folder para workflow y credentials en **Google Drive**\n3. Genera tu **n8n API key**\n4. **Actualiza** las credenciales de los nodos de **n8n**\n\n---\n### Importante\n1. Para exportar las credenciales en la version 2.0.x, debes configurar esta variable de entorno **NODES_EXCLUDE=\"[]\"**, para que puedas habilitar el nodo **\"Execute command\"**\n\n\n---\n\n📺 Puedes guiarte con este video:  \n👉 [Cómo configurar paso a paso](https://youtu.be/PMp11vf3n8c)  \n\n🔔 Además, tienes más **video-guías completas** en mi canal de YouTube:  \n👉 [Hans Acha – Canal Oficial](https://www.youtube.com/@Hans-Acha)\n",
        "height": 528,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -176
      ],
      "typeVersion": 1,
      "id": "429910ce-7839-4a07-a500-57084f1d4855",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-03T18:57:20.363Z",
      "createdAt": "2026-02-03T18:57:20.363Z",
      "role": "workflow:owner",
      "workflowId": "ks3SJM41jwQAukh_xMfFK",
      "projectId": "qybvWgNPA3kFWQla"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-03T18:57:20.361Z",
  "versionId": "be1cca16-9183-4fa0-8143-6d62e54f253d"
}